<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847765205053-64cf5lvrs63sdh26aune4psv1bo1td95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847765205053-64cf5lvrs63sdh26aune4psv1bo1td95</string>
	<key>API_KEY</key>
	<string>AIzaSyCcKjA48F6FL2F5Gxm2NrvEWBIr4baRpjs</string>
	<key>GCM_SENDER_ID</key>
	<string>847765205053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendify</string>
	<key>PROJECT_ID</key>
	<string>attendi-fy-2b84a</string>
	<key>STORAGE_BUCKET</key>
	<string>attendi-fy-2b84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847765205053:ios:27b5644656afe9595cfa54</string>
</dict>
</plist>